In [10]:
#merge operation is takes dataframes and merge them in one dataframe

In [11]:
import pandas as pd

In [12]:
df1=pd.DataFrame({"City": ["London", "Birmingham", "Manchester"],
                 "Temperature": [10,7,9]
                 })

In [13]:
df1

         City  Temperature
0      London           10
1  Birmingham            7
2  Manchester            9

In [14]:
df2=pd.DataFrame({"City": ["London", "Manchester", "Birmingham"],
                 "Temperature": [12,8,9]
                 })

In [15]:
df2

         City  Temperature
0      London           12
1  Manchester            8
2  Birmingham            9

In [16]:
pd.merge(df1, df2, on="City") #merge operation takes data frames and merge them on the basis of particular coulumn

         City  Temperature_x  Temperature_y
0      London             10             12
1  Birmingham              7              9
2  Manchester              9              8